<%= render 'pages/home' %>

<% if user_signed_in? %>
  <h1>Listing tasks</h1>

  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Recipientname</th>
        <th>Recipientemail</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @tasks.each do |task| %>
        <% if current_user.id = task.user_id%>
          <tr>
            <td><%= task.title %></td>
            <td><%= task.description %></td>
            <td><%= task.recipientname %></td>
            <td><%= task.recipientemail %></td>
            <td><%= link_to 'Show', task %></td>
            <td><%= link_to 'Edit', edit_task_path(task) %></td>
            <td><%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <%end%>
        
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Task', new_task_path %>
<%end%>
